@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500;600;700&display=swap");

:root {
  --header-height: 3rem;

  /*--------- Flat Color list-----*/
  /* Hsl color */
  --red-hsl-0: 15;
  --green-hsl-0: 110;
  --violet-hsl-0: 260;
  --ocean-blue-hsl-0: 200;
  --blue-hsl-0: 220;

  /* Hex color */
  --orange-1: #fa8142;
  --pink-1: #ff40ab;

  --purple-1: #ff06f4;
  --violet-1: #4400ff;

  --blue-1: #1bffff;
  --blue-2: #3239ff;

  /* flat color theme list */
  --color-1: var(--red-hsl-0);
  --color-2: var(--violet-hsl-0);
  --color-3: var(--blue-hsl-0);

  /*---------Gradient theme list------*/
  --gradient-1: linear-gradient(90deg, var(--orange-1), var(--pink-1));
  --gradient-2: linear-gradient(90deg, var(--violet-1), var(--purple-1));
  --gradient-3: linear-gradient(90deg, var(--blue-2), var(--blue-1));

  /* -----Default Gradient theme---- */
  --gradient-theme: var(--gradient-1);

  /*---------Default flat Color--------*/
  --hue-color: var(--color-1);

  /*--------- Light Color theme ---------*/
  --first-color: hsl(var(--hue-color), 99%, 51%);
  --first-color-second: hsl(var(--hue-color), 78%, 51%);
  --first-color-alt: hsl(var(--hue-color), 100%, 40%);
  --first-color-lighter: hsl(var(--hue-color), 92%, 85%);
  --title-color: hsl(var(--hue-color), 8%, 15%);
  --text-color: hsl(var(--hue-color), 8%, 3%);
  --text-color-light: hsl(var(--hue-color), 8%, 65%);
  --input-color: hsl(var(--hue-color), 99%, 90%);
  --input-color-alt: hsl(var(--hue-color), 30%, 50%);
  --body-color: #dbe1e8;
  --container-color: #fff;
  --scroll-bar-color: hsl(var(--hue-color), 12%, 90%);
  --scroll-thumb-color: hsl(var(--hue-color), 12%, 80%);
  --box-background-color: hsl(var(--hue-color), 0%, 100%);
  --hover-shadow: 0 4px 8px rgba(0, 30, 84, 0.12);
  --card-bg: #fff;
  /* --box-background-color: rgb(196, 196, 196, 20%); */

  /*-------- Font and typography --------*/
  --heading-font: "rubik", sans-serif;
  --body-font: "quicksand", sans-serif;

  /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */
  --big-font-size: 3rem;
  --h1-font-size: 1.85rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;

  /*-------- Font weight --------*/
  --font-medium: 600;
  --font-semi-bold: 700;

  /*-------- Margins Bottom --------*/
  /* .25rem = 4px, .5rem = 8px, .75rem = 12px ... */
  --mb-0-25: 0.25rem;
  --mb-0-5: 0.5rem;
  --mb-0-75: 0.75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mb-3: 3rem;

  /*-------- z index --------*/
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-model: 1000;
}

/* Font size for large devices */
@media screen and (min-width: 968px) {
  :root {
    --big-font-size: 3rem;
    --h1-font-size: 2rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}

/*---------- Variables Gradient themes --------*/
body.gradient-theme-1 {
  --gradient-theme: var(--gradient-1);
  --hue-color: var(--color-1);
  --first-color: hsl(var(--hue-color), 99%, 51%);
  --first-color-second: hsl(var(--hue-color), 78%, 51%);
  --first-color-alt: hsl(var(--hue-color), 100%, 40%);
  --first-color-lighter: hsl(var(--hue-color), 92%, 85%);
  --title-color: hsl(var(--hue-color), 8%, 15%);
  --text-color: hsl(var(--hue-color), 8%, 3%);
  --text-color-light: hsl(var(--hue-color), 8%, 65%);
  --input-color: hsl(var(--hue-color), 99%, 90%);
  --input-color-alt: hsl(var(--hue-color), 30%, 50%);
  --scroll-bar-color: hsl(var(--hue-color), 12%, 90%);
  --scroll-thumb-color: hsl(var(--hue-color), 12%, 80%);
  --box-background-color: hsl(var(--hue-color), 0%, 100%);
}

body.gradient-theme-2 {
  --gradient-theme: var(--gradient-2);
  --hue-color: var(--color-2);
  --first-color: hsl(var(--hue-color), 99%, 60%);
  --first-color-second: hsl(var(--hue-color), 78%, 51%);
  --first-color-alt: hsl(var(--hue-color), 100%, 40%);
  --first-color-lighter: hsl(var(--hue-color), 92%, 85%);
  --title-color: hsl(var(--hue-color), 8%, 15%);
  --text-color: hsl(var(--hue-color), 8%, 3%);
  --text-color-light: hsl(var(--hue-color), 8%, 65%);
  --input-color: hsl(var(--hue-color), 99%, 90%);
  --input-color-alt: hsl(var(--hue-color), 30%, 50%);
  --scroll-bar-color: hsl(var(--hue-color), 12%, 90%);
  --scroll-thumb-color: hsl(var(--hue-color), 12%, 80%);
  --box-background-color: hsl(var(--hue-color), 0%, 100%);
}

body.gradient-theme-3 {
  --gradient-theme: var(--gradient-3);
  --hue-color: var(--color-3);
  --first-color: hsl(var(--hue-color), 99%, 51%);
  --first-color-second: hsl(var(--hue-color), 78%, 51%);
  --first-color-alt: hsl(var(--hue-color), 100%, 40%);
  --first-color-lighter: hsl(var(--hue-color), 92%, 85%);
  --title-color: hsl(var(--hue-color), 8%, 15%);
  --text-color: hsl(var(--hue-color), 8%, 3%);
  --text-color-light: hsl(var(--hue-color), 8%, 65%);
  --input-color: hsl(var(--hue-color), 99%, 90%);
  --input-color-alt: hsl(var(--hue-color), 30%, 50%);
  --scroll-bar-color: hsl(var(--hue-color), 12%, 90%);
  --scroll-thumb-color: hsl(var(--hue-color), 12%, 80%);
  --box-background-color: hsl(var(--hue-color), 0%, 100%);
}

/*-------- Variables Dark themes --------*/
body.dark-theme {
  --first-color-second: hsl(var(--hue-color), 30%, 8%);
  --title-color: hsl(var(--hue-color), 8%, 95%);
  --text-color: hsl(var(--hue-color), 8%, 100%);
  --input-color: hsl(var(--hue-color), 29%, 16%);
  --body-color: #12181b;
  --container-color: hsl(var(--hue-color), 29%, 16%);
  --box-background-color: hsl(var(--hue-color), 0%, 99%, 0.1);
  --scroll-bar-color: hsl(var(--hue-color), 12%, 48%);
  --scroll-thumb-color: hsl(var(--hue-color), 12%, 36%);
  --hover-shadow: 0 4px 8px rgba(0, 0, 0, 0.38);
  --card-bg: #22262f;
  /* --box-background-color: rgb(196, 196, 196, 20%); */
}

/*-------- Button Dark/Light --------*/
.dark_light-theme {
  font-size: 1.25rem;
  color: var(--title-color);
  cursor: pointer;
}

.dark_light-theme:hover {
  color: var(--first-color);
}

/*---------------- BASE ----------------*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  transition: 0.2s;
  margin: 0 0 var(--header-height) 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
}

h1,
h2,
h3,
h4 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*---------------- REUSABLE CSS CLASSES ----------------*/
.section {
  padding: 8vh 0 4vh;
}

.section_title {
  font-family: var(--heading-font);
  font-size: var(--h1-font-size);
  color: var(--title-color);
  margin-bottom: 0.1rem;
}

.section_subtitle {
  display: block;
  font-size: var(--small-font-size);
  margin-bottom: var(--mb-3);
}

.section_title,
.section_subtitle {
  text-align: center;
}

/* .main{
  padding: 0 1rem;
} */

.gradient-text {
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: var(--gradient-theme);
  color: transparent;
}

.hi-gradient {
  background-image: var(--gradient-theme);
  border-radius: 3px;
  color: var(--h-color);
  padding: 0 4px;
}

.card {
  background-color: var(--card-bg);
  padding: 0;
  border-radius: 0.5rem;
  overflow: hidden;
  transition: 0.3s;
}

.card:hover {
  box-shadow: var(--hover-shadow);
  transform: translateY(-0.25rem);
}

/*---------------- LAYOUT ----------------*/
.container {
  max-width: 768px;
  margin-left: var(--mb-1-5);
  margin-right: var(--mb-1-5);
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.header {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--body-color);
}

/*---------------- NAV & themes----------------*/
.nav {
  max-width: 968px;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav_logo,
.themes_menu_toggle,
.nav_toggle {
  color: var(--title-color);
  font-weight: var(--font-medium);
}

.nav_logo {
  font-size: 1.1rem;
}

.nav_logo:hover {
  color: var(--first-color);
}

.themes_menu_toggle {
  font-size: 1.25rem;
  cursor: pointer;
}

.nav_toggle {
  font-size: 1.25rem;
  cursor: pointer;
}

.nav_toggle:hover,
.themes_menu_toggle:hover {
  color: var(--first-color);
}

@media screen and (max-width: 767px) {
  .nav_menu,
  .themes_menu {
    position: fixed;
    margin-left: auto;
    right: 10px;
    bottom: -100%;
    padding: 0.5rem;
    padding-bottom: 40px;
    background-color: var(--body-color);
    box-shadow: 0 0px 4px rgba(0, 0, 0, 0.15);
    border-radius: 1rem;
    transition: 0.3s;
  }
}

.nav_list,
.themes_list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.nav_link,
.theme_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: var(--small-font-size);
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
  padding: 0.3rem;
  border-radius: 0.5rem;
  background-color: var(--box-background-color);
  height: 3.5rem;
  width: 7rem;
  cursor: pointer;
}

#gradient-theme-1 {
  color: #fff;
  background-image: var(--gradient-1);
}

#gradient-theme-2 {
  color: #fff;
  background-image: var(--gradient-2);
}

#gradient-theme-3 {
  color: #fff;
  background-image: var(--gradient-3);
}

.theme-selected::after {
  content: "Selected";
}

.nav_link:hover {
  color: var(--first-color);
}

.nav_icon {
  font-size: 1.2rem;
}

.menu_title {
  position: absolute;
  left: 0.7rem;
  bottom: 0.5rem;
  font-size: 1.25rem;
  height: 1.5rem;
  font-weight: var(--font-medium);
  cursor: pointer;
}

.nav_close,
.themes_close {
  position: absolute;
  right: 0.6rem;
  bottom: 0.5rem;
  font-size: 1.2rem;
  text-align: center;
  cursor: pointer;
  color: var(--first-color);
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
  background-color: var(--box-background-color);
}

.nav_close:hover,
.themes_close:hover {
  color: var(--first-color-alt);
}

/*Nav Buttons*/
.nav_buttons {
  display: flex;
  align-items: center;
  gap: 1rem;
}

/* show menu */
.show-menu {
  bottom: 60px;
}

/* Active link */
.active-link {
  color: #fff;
  background-image: var(--gradient-theme);
}

/* Change background header */
.scroll-header {
  box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.1);
}
/*---------------- HOME ----------------*/
.home_container {
  gap: 1rem;
  /* height: 100vh; */
}

.home_content {
  grid-template-columns: 0.5fr 3fr;
  /* padding-top: 3.5rem;  */
  align-items: center;
}

.home_social {
  display: grid;
  grid-template-columns: max-content;
  row-gap: 1rem;
}

.home_social-icon {
  font-size: 1.25rem;
  color: var(--first-color);
}

.home_social-icon:hover {
  color: var(--first-color-alt);
}

.home_blob {
  width: 230px;
  fill: #fff;
}

.home_blob-img {
  width: 300px;
}

.home_data {
  grid-column: 1/3;
}

.home_title {
  font-family: var(--heading-font);
  font-size: var(--big-font-size);
}

.home_subtitle {
  font-size: var(--h1-font-size);
  font-weight: var(--font-medium);
  margin-bottom: var(--mb-1);
}

.home_tagline {
  font-weight: var(--font-semi-bold);
}

.home_tagline-gray_box {
  height: 45px;
  width: 250px;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--box-background-color);
  transition: 0.3s;
}

.home_tagline-gray_box:hover {
  box-shadow: var(--hover-shadow);
  translate: translateY(-0.35rem);
}
.home_description {
  margin-top: var(--mb-1);
  margin-bottom: var(--mb-2);
}

.home_scroll {
  display: none;
}

.home_scroll-button {
  color: var(--first-color);
  transition: 0.3s;
}

.home_scroll-button:hover {
  transform: translateY(0.25rem);
}

.home_scroll-mouse {
  font-size: 2rem;
}

.home_scroll-name {
  font-size: var(--small-font-size);
  color: var(--title-color);
  font-weight: var(--font-medium);
  margin-right: var(--mb-0-25);
}

.home_scroll-arrow {
  font-size: 1.25rem;
}
/*---------------- BUTTONS ----------------*/

.button {
  display: inline-block;
  background-image: var(--gradient-theme);
  color: #fff;
  padding: 0.8rem 1rem;
  border-radius: 0.5rem;
  font-weight: var(--font-medium);
  transition: 0.3s;
}

.button:hover {
  color: #fff;
  box-shadow: var(--hover-shadow);
  translate: translateY(-0.25rem);
}

.button_icon {
  font-size: 1.25rem;
  margin-left: var(--mb-0-25);
  transition: 0.3s;
}

.button-flex {
  display: inline-flex;
  align-items: center;
  gap: 0.3rem;
}

.button-small {
  padding: 0.75rem 1rem;
}

.button-link {
  padding: 0;
  background-color: transparent;
  color: var(--first-color);
}

.button-link:hover {
  background-color: transparent;
  color: var(--first-color-alt);
}

/*---------------- ABOUT ----------------*/

.about_img {
  width: 90%;
  border-radius: 0.5rem;
  justify-self: center;
  align-self: center;
  transition: 0.3s;
}

.about_img:hover {
  box-shadow: var(--hover-shadow);
  transform: translateY(-0.25rem);
}

.about_description {
  text-align: center;
  margin-bottom: var(--mb-2-5);
}

.about_buttons {
  display: flex;
  justify-content: center;
}
/*---------------- SKILLS ----------------*/
.skills_container {
  row-gap: 0;
}

.skills_header {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.skills_icon,
.skills_arrow {
  font-size: 2rem;
  color: var(--first-color);
}

.skills_icon {
  margin-right: var(--mb-0-75);
}

.skills_title {
  font-size: var(--h3-font-size);
}

.skills_subtitle {
  font-size: var(--small-font-size);
}

.skills_arrow {
  margin-left: auto;
}

.skills_data {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem;
}

.skills_titles {
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--mb-0-5);
  padding: 0.4rem;
  border-radius: 0.5rem;
  background-color: var(--box-background-color);
  transition: 0.3s;
}

.skills_name {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
}

.skills_titles:hover {
  box-shadow: var(--hover-shadow);
  transform: translateY(-0.25rem);
}

.skill_name_icons {
  height: 20px;
  width: auto;
  margin-right: 5px;
}

.skills_close .skills_list {
  height: 0;
  overflow: hidden;
  transition: 0.3s;
}

.skills_open .skills_list {
  height: max-content;
  margin-bottom: var(--mb-0-25);
}

.skills_open .skills_arrow {
  transform: rotate(-180deg);
  transition: 0.3s;
}

/*----------------PROJECTS------------------*/

.projects_container {
  position: relative;
  /* background-color: gray; */
  height: 480px;
  padding: 15px 20px;
  /* overflow: visible; */
}

.projects_content {
  border-radius: 0.5rem;
  margin: 0 40px;
  height: 420px;
  /* background-color: rgb(85, 235, 85); */
  /* overflow: hidden; */
}

.project_title {
  font-size: var(--h3-font-size);
  font-weight: var(--font-semi-bold);
  text-transform: uppercase;
}
.project_card {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 320px;
}

.project_data {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px 10px;
}

.project_image {
  width: 100%;
  height: 50%;
  object-fit: cover;
}

.project_description {
  height: 45px;
}

.project_button {
  position: relative;
  bottom: -5px;
  justify-content: center;
  border-radius: 0.35rem;
}

.checkout_button_icon {
  transform: translateY(-1px);
}

.swiper-pagination-bullet-active {
  background-color: var(--first-color) !important;
}
.swiper-pagination-bullet {
  background-color: var(--first-color-alt) !important;
}

/*---------------- Blogs ----------------*/
/* .blogs_container{
  padding: 0 1rem 0;
} */

.blog_item {
  margin-bottom: 1.5rem;
}

.blog_img {
  width: 100%;
  /* border-radius: 0.35rem; */
}

.blog_content {
  position: relative;
  padding: var(--mb-1);
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow: hidden;
  /* height: 250px; */
}

.blog_content > h3 > a {
  color: var(--text-color);
  font-size: var(--h3-font-size);
  font-weight: var(--font-semi-bold);
  text-transform: uppercase;
}

.blog_brief {
  text-align: left;
}

.read_more_button {
  color: var(--first-color);
  /* position: absolute; */
  /* left: 40%; */
  /* bottom: 15px;  */
  /* top: 45%; */
  /* right: 10%; */
  border-radius: 0.35rem;
}

/*---------------- SERVICES ----------------*/
.services_container {
  gap: 1.5rem;
  grid-template-columns: repeat(2, 1fr);
}

/*---------------- PORTFOLIO ----------------*/

/*---------------- PROJECT IN MIND ----------------*/

/*---------------- CONTACT ME ----------------*/
.contact_container {
  display: flex;
  gap: 1rem;
  justify-content: center;
  flex-wrap: wrap;
}
.contact_buttons {
  color: var(--text-color);
  font-size: var(--normal-font-size);
  padding: 1.3rem;
}
.contact {
  margin-bottom: 2vh;
}
.contact_buttons-icon {
  color: var(--first-color);
  margin-right: var(--mb-0-5);
}

/*---------------- FOOTER ----------------*/
.footer {
  padding-top: 2rem;
}

.footer_container {
  row-gap: 1.5rem;
}

.footer_bg {
  background-image: var(--gradient-theme);
  padding: 2rem 0 3rem;
}

.footer_title {
  font-size: var(--h1-font-size);
  margin-bottom: var(--mb-0-25);
}

.footer_subtitle {
  font-size: var(--small-font-size);
}

.footer_links {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}

.footer_link:hover {
  color: var(--first-color-lighter);
}

.footer_social {
  font-size: 1.25rem;
  margin-right: var(--mb-1-5);
}

.footer_social:hover {
  color: var(--first-color-lighter);
}

.footer_disclaimer,
.footer_copyright {
  font-size: var(--smaller-font-size);
  color: var(--first-color-lighter);
  text-align: center;
  margin-top: var(--mb-3);
}

.footer_disclaimer {
  margin-left: auto;
  margin-right: auto;
  padding: 0 1rem;
  max-width: 668px;
}

.footer_title,
.footer_subtitle,
.footer_link,
.footer_social {
  color: #fff;
}

/*-------- SCROLL UP --------*/
.scrollup {
  position: fixed;
  right: 1.5rem;
  bottom: -20%;
  background-color: var(--first-color);
  opacity: 0.8;
  padding: 0 0.3rem;
  border-radius: 0.3rem;
  transition: 0.6s;
  z-index: var(--z-tooltip);
}

.scrollup:hover {
  background-color: var(--first-color-alt);
}
.scrollup_icon {
  font-size: 1.6rem;
  color: #fff;
}
/* Show scroll */
.scroll-show {
  bottom: 5rem;
  transition: 0.4s;
}
/*-------- SCROLL BAR --------*/
::-webkit-scrollbar {
  width: 0.6rem;
  background-color: var(--scroll-bar-color);
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background-color: var(--scroll-thumb-color);
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--text-color-light);
}

/*---------------- MEDIA QUERIES ----------------*/
/* For small devices */
@media screen and (max-width: 390px) {
  :root {
    --big-font-size: 2.8rem;
  }

  .container {
    margin-right: var(--mb-1);
    margin-left: var(--mb-1);
  }

  .menu_title {
    font-size: var(--h3-font-size);
    left: 1rem;
  }

  .home_content {
    padding-top: 1rem;
  }

  .home_content {
    grid-template-columns: 0.25fr 3fr;
  }

  .home_blob {
    width: 200px;
  }

  .home_subtitle {
    font-weight: 400;
  }

  .home_tagline {
    font-size: 0.9rem;
  }

  .home_description {
    margin-bottom: var(--mb-1);
  }

  .home_tagline-gray_box {
    width: 230px;
  }

  .skills_title {
    font-size: var(--normal-font-size);
  }

  .services_container {
    grid-template-columns: max-content;
    justify-content: center;
  }

  .services_content {
    padding-right: 3.5rem;
  }

  .services_modal {
    padding: 0.5rem;
  }
}
/* For medium devices */

@media screen and (min-width: 568px) {
  .home_content {
    grid-template-columns: max-content 1fr 1fr;
  }

  .home_data {
    grid-column: initial;
  }

  .home_img {
    order: 1;
    justify-self: center;
  }

  .blog_items {
    column-count: 2;
  }

  .about_container,
  .contact_container,
  .footer_container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 768px) {
  :root {
    --big-font-size: 2.9rem;
  }
  .container {
    margin-left: auto;
    margin-right: auto;
  }

  body {
    margin: 0;
  }

  .section {
    padding: 16vh 0 4vh;
  }

  .section_subtitle {
    margin-bottom: 4rem;
  }

  .header {
    top: 0;
    bottom: initial;
  }

  .header,
  .container,
  .footer_container {
    padding: 0 1rem;
  }

  .nav {
    height: calc(var(--header-height) + 1rem);
    column-gap: 1rem;
    position: relative;
  }

  .nav_icon,
  .nav_close,
  .menu_title,
  .nav_toggle {
    display: none;
  }

  .nav_list {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
  }

  .nav_link {
    padding: 0 1rem;
    background-color: transparent;
    width: auto;
  }

  .active-link {
    color: var(--first-color);
    background-image: none;
  }

  .themes_title,
  .themes_close {
    display: inline;
    position: absolute;
    top: 8px;
  }

  .themes_menu {
    position: absolute;
    display: flex;
    justify-content: center;
    right: 10px;
    top: -270px;
    padding: 0.5rem;
    padding-top: 40px;
    background-color: var(--body-color);
    box-shadow: 0 0px 4px rgba(0, 0, 0, 0.15);
    border-radius: 1rem;
    transition: 0.3s;
  }

  .show-menu {
    top: 80px;
    bottom: auto;
  }

  .home_container {
    row-gap: 5rem;
  }

  .home_content {
    padding-top: 5.5rem;
    column-gap: 1.5rem;
  }

  .home_blob {
    width: 270px;
  }

  .home_scroll {
    display: block;
  }

  .home_scroll-button {
    margin-left: 3rem;
  }

  .about_container {
    column-gap: 5rem;
  }

  .about_img {
    width: 350px;
  }

  .about_description {
    text-align: left;
  }
  .about_buttons {
    justify-content: left;
  }
  .services_container {
    grid-template-columns: repeat(3, 200px);
    justify-content: center;
  }

  .services_icon {
    font-size: 2rem;
  }

  .services_content {
    padding: 6rem 0 2rem 2.5rem;
  }

  .services_model-content {
    width: 500px;
  }

  .footer_container {
    grid-template-columns: repeat(3, 1fr);
  }

  .footer_links {
    flex-direction: row;
    gap: 1.5rem;
  }

  .footer_bg {
    padding: 3rem 0 4rem;
  }

  .footer_socials {
    justify-self: flex-end;
  }
}

/* For large devices */

@media screen and (min-width: 1024px) {
  .header,
  .main,
  .footer_container {
    padding: 0;
  }

  .home_blob {
    width: 320px;
  }

  .home_social {
    transform: translateX(-4rem);
  }

  .services_container {
    grid-template-columns: repeat(3, 238px);
  }
}

html.sr .load-hidden {
  visibility: hidden;
}
