@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@500;700&display=swap");

:root {
  --header-height: 3rem;
  /*---------themes list-----*/
  --red: 5;
  --green: 84;
  --ocean-blue: 200;
  --blue: 220;

  /*---------Colors--------*/
  --hue-color: var(--red);
  
  --first-color: hsl(var(--hue-color), 78%, 51%);
  --first-color-second: hsl(var(--hue-color), 78%, 51%);
  --first-color-alt: hsl(var(--hue-color), 100%, 40%);
  --first-color-lighter: hsl(var(--hue-color), 92%, 85%);
  --title-color: hsl(var(--hue-color), 8%, 15%);
  --text-color: hsl(var(--hue-color), 8%, 30%);
  --text-color-light: hsl(var(--hue-color), 8%, 65%);
  --input-color: hsl(var(--hue-color), 99%, 90%);
  --input-color-alt: hsl(var(--hue-color), 30%, 50%);
  --body-color: #dbe1e8;
  --container-color: #fff;
  --scroll-bar-color: hsl(var(--hue-color), 12%, 90%);
  --scroll-thumb-color: hsl(var(--hue-color), 12%, 80%);
  --box-background-color: hsl(var(--hue-color), 100%, 80%);
  /* --box-background-color: rgb(196, 196, 196, 20%); */

  /*---------gradient colors------*/
  --orange: #fa8142 ;
  --pink: #FF40AB;

  /*-------- Font and typography --------*/
  --heading-font: "Rubik", sans-serif;
  --body-font: "Poppins", sans-serif;

  /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */
  --big-font-size: 3rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;

  /*-------- Font weight --------*/
  --font-medium: 500;
  --font-semi-bold: 600;

  /*-------- Margins Bottom --------*/
  /* .25rem = 4px, .5rem = 8px, .75rem = 12px ... */
  --mb-0-25: 0.25rem;
  --mb-0-5: 0.5rem;
  --mb-0-75: 0.75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mb-3: 3rem;

  /*-------- z index --------*/
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-model: 1000;
}

/* Font size for large devices */
@media screen and (min-width: 968px) {
  :root {
    --big-font-size: 3rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}

/*-------- Variables Dark themes --------*/
body.dark-theme{
  --first-color-second: hsl(var(--hue-color), 30%, 8%);
  --title-color: hsl(var(--hue-color), 8%, 95%);
  --text-color: hsl(var(--hue-color), 8%, 100%);
  --input-color: hsl(var(--hue-color), 29%, 16%);
  --body-color: #12181b;
  --container-color: hsl(var(--hue-color), 29%, 16%);
  --box-background-color: hsl(var(--hue-color), 100%, 64%, 0.1);
  --scroll-bar-color: hsl(var(--hue-color), 12%, 48%);
  --scroll-thumb-color: hsl(var(--hue-color), 12%, 36%);
  /* --box-background-color: rgb(196, 196, 196, 20%); */
}

/*-------- Button Dark/Light --------*/
.dark_light-theme{
  font-size: 1.25rem;
  color: var(--title-color);
  cursor: pointer;
}

.dark_light-theme:hover{
  color: var(--first-color);
}

/*---------------- BASE ----------------*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0 0 var(--header-height) 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
}

h1,
h2,
h3,
h4 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*---------------- REUSABLE CSS CLASSES ----------------*/
.section {
  padding: 2rem 0 4rem;
}

.section_title {
  font-family: var(--heading-font);
  font-size: var(--h1-font-size);
  color: var(--title-color);
}

.section_subtitle {
  display: block;
  font-size: var(--small-font-size);
  margin-bottom: var(--mb-3);
}

.section_title,
.section_subtitle {
  text-align: center;
}

/* .main{
  padding: 0 1rem;
} */

.gradient-text {
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(90deg,var(--orange),var(--pink));
  color: transparent;
}

.hi-gradient {
    background-image: linear-gradient(90deg,var(--orange),var(--pink));
    border-radius: 3px;
    color: var(--h-color);
    padding: 0 4px;
}

/*---------------- LAYOUT ----------------*/
.container {
  max-width: 768px;
  margin-left: var(--mb-1-5);
  margin-right: var(--mb-1-5);
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.header {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--body-color);
}


/*---------------- NAV & themes----------------*/
.nav {
  max-width: 968px;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav_logo,
.themes_menu_toggle,
.nav_toggle {
  color: var(--title-color);
  font-weight: var(--font-medium);
}

.nav_logo:hover {
  color: var(--first-color);
}

.themes_menu_toggle{
  font-size: 1.25rem;
  cursor: pointer;
}

.nav_toggle {
  font-size: 1.25rem;
  cursor: pointer;
}

.nav_toggle:hover,
.themes_menu_toggle:hover{
  color: var(--first-color);
}

@media screen and (max-width: 767px) {
  .nav_menu, 
  .themes_menu {
    position: fixed;
    bottom: -100%;
    left: 0;
    width: 100%;
    background-color: var(--body-color);
    padding: 2rem 1.5rem 4rem;
    box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
    border-radius: 1.5rem 1.5rem 0 0;
    transition: 0.3s;
  }
}

.nav_list,
.themes_list {
  grid-template-columns: repeat(3, 1fr);
  gap: 2 rem;
}

.nav_link,
.themes_item{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: var(--small-font-size);
  color: var(--title-color);
  font-weight: var(--font-medium);
  padding: 0.3rem;
  border-radius: 0.5rem;
  background-color: var(--box-background-color);
}

.themes_item{
  cursor: pointer;
  height: 3.5rem;
}

#red-theme{
  color: #fff;
  background-color: hsl(var(--red), 78%, 51%);
}

#red-dark-theme{
  color: #fff;
  background-color: hsl(var(--red), 50%, 38%);
}

#green-theme{
  color: #fff;
  background-color: hsl(var(--green), 78%, 51%);
}

#green-dark-theme{
  color: #fff;
  background-color: hsl(var(--green), 50%, 38%);
}

#blue-theme{
  color: #fff;
  background-color: hsl(var(--blue), 78%, 51%);
}

#ocean-blue-theme{
  color: #fff;
  background-color: hsl(var(--ocean-blue), 78%, 51%);
}

.nav_link:hover {
  color: var(--first-color);
}

.nav_icon {
  font-size: 1.2rem;
}

.menu_title{
  position: absolute;
  left: 1.6rem;
  bottom: 1rem;
  font-size: var(--h2-font-size);
  font-weight: var(--font-medium);
  cursor: pointer;
}

.nav_close,
.themes_close{
  position: absolute;
  right: 1.3rem;
  bottom: 0.6rem;
  font-size: 1.5rem;
  cursor: pointer;
  color: var(--first-color);
}

.nav_close:hover,
.themes_close:hover {
  color: var(--first-color-alt);
}

/*Nav Buttons*/
.nav_buttons{
  display: flex;
  align-items:center;
  gap: 1rem;
}

/* show menu */
.show-menu {
  bottom: 0;
}

/* Active link */
.active-link{
  color: #fff;
  background-color: var(--first-color-alt);
}

/* Change background header */
.scroll-header{
  box-shadow: 0 -1px 4px rgba(0,0 , 0, 0.1);
}
/*---------------- HOME ----------------*/
.home_container{
  gap: 1rem;
  /* height: 100vh; */
}

.home_content {
  grid-template-columns: .5fr 3fr;
  padding-top: 3.5rem; 
  align-items: center;
}

.home_social{
  display: grid;
  grid-template-columns: max-content;
  row-gap: 1rem;
}

.home_social-icon {
  font-size: 1.25rem;
  color: var(--first-color);
}

.home_social-icon:hover{
  color: var(--first-color-alt);
}

.home_blob{
  width: 230px;
  fill: #fff;
}

.home_blob-img{
  width: 300px;
}

.home_data {
  grid-column: 1/3;
}

.home_title{
  font-family: var(--heading-font);
  font-size: var(--big-font-size);
}

.home_subtitle{
  font-size: var(--h1-font-size);
  font-weight: var(--font-medium);
  margin-bottom: var(--mb-1)
}

.home_tagline {
  font-weight: var(--font-semi-bold);
}

.home_tagline-gray_box{
  height: 45px;
  width: 250px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--box-background-color);
}

.home_description{
  margin-top: var(--mb-1);
  margin-bottom: var(--mb-2);
}

.home_scroll{ 
  display: none;
} 

.home_scroll-button {
  color: var(--first-color);
  transition: 0.3s;
}

.home_scroll-button:hover{
  transform: translateY(0.25rem);
}

.home_scroll-mouse{
  font-size: 2rem;
}

.home_scroll-name{
  font-size: var(--small-font-size);
  color: var(--title-color);
  font-weight: var(--font-medium);
  margin-right: var(--mb-0-25);
}

.home_scroll-arrow{
  font-size: 1.25rem;
}
/*---------------- BUTTONS ----------------*/

.button{
  display: inline-block;
  background-color: #fff;
  color: var(--first-color);
  padding: 0.8rem 1rem;
  border-radius: 0.5rem;
  font-weight: var(--font-medium);
}

.button:hover{
  transition: 0.3s;
  color: #FFF;
  background-image: linear-gradient(90deg,var(--orange),var(--pink));
}

.button_icon{
  font-size: 1.25rem;
  margin-left: var(--mb-0-25);
  transition: 0.3s;
}

.button-flex{
  display: inline-flex;
  align-items: center;
  gap: 0.3rem
}

.button-small{
  padding: 0.75rem 1rem;
}

.button-link{
  padding: 0;
  background-color: transparent;
  color: var(--first-color);
}

.button-link:hover {
  background-color: transparent;
  color: var(--first-color-alt);
}


/*---------------- ABOUT ----------------*/
.about_img{
  width: 90%;
  border-radius: 0.5rem;
  justify-self: center;
  align-self: center;
}

.about_description{
  text-align: center;
  margin-bottom: var(--mb-2-5);
}

.about_buttons{
  display:flex;
  justify-content: center;
}
/*---------------- SKILLS ----------------*/
.skills_container{
  row-gap: 0;
}

.skills_header {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.skills_icon, 
.skills_arrow {
  font-size: 2rem;
  color: var(--first-color);
}

.skills_icon{
  margin-right: var(--mb-0-75);
}

.skills_title{
  font-size: var(--h3-font-size);
}

.skills_subtitle{
  font-size: var(--small-font-size);
}

.skills_arrow{
  margin-left: auto;
}

.skills_data{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem;
}

.skills_titles{
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--mb-0-5);
  padding: 0.4rem;
  border-radius: 0.5rem;
  background-color: var(--box-background-color);
}

.skills_name{
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
}

.skills_close .skills_list {
  height: 0;
  overflow: hidden;
  transition: 0.3s;
}

.skills_open .skills_list {
  height: max-content;
  margin-bottom: var(--mb-0-25);
}

.skills_open .skills_arrow {
  transform: rotate(-180deg);
  transition: 0.3s;
}

/*---------------- SERVICES ----------------*/
.services_container{
  gap: 1.5rem;
  grid-template-columns: repeat(2, 1fr);
}

.services_content{
  position: relative;
  background-color: var(--container-color);
  padding: 3.5rem 0.5rem 1.25rem 1.5rem;
  border-radius: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  transition: 0.3s;
}

.services_content:hover{
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);

}

.services_icon{
  display: block;
  font-size: 1.5rem;
  color: var(--first-color);
  margin-bottom: var(--mb-1);
}

.services_title{
  font-size: var(--h3-font-size);
  margin-bottom: var(--mb-1);
  font-weight: var(--font-medium);
}

.services_button{
  cursor: pointer;
  font-size: var(--small-font-size);
}

.services_button:hover .button_icon{
  transform: translateX(0.25rem);
}

.services_model{
  position: fixed;
  top:0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0 , 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
  z-index: var(--z-fixed);
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}

.services_model-content{
  position: relative;
  background-color: var(--container-color);
  padding: 1.5rem;
  border-radius: 0.5rem;
}

.services_model-service{
  display: flex;
}

.services_model-title{
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
  margin-bottom: var(--mb-1-5);
}

.services_model-close{
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 1.5rem;
  color: var(--first-color);
  cursor: pointer;
}

.services_model-icon{
  color: var(--first-color);
  margin-right: var(--mb-0-25);
}

/* Active model */
.active-model{
  opacity: 1;
  visibility: visible;
}
/*---------------- PORTFOLIO ----------------*/

/*---------------- PROJECT IN MIND ----------------*/

/*---------------- CONTACT ME ----------------*/
.contact_container{
  row-gap: 3rem;
}

.contact_information{
  display: flex;
  margin-bottom: var(--mb-3);
}

.contact_icon{
  font-size: 2rem;
  color: var(--first-color);
  margin-right: var(--mb-1);
}

.contact_title{
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
}

.contact_subtitle{
  font-size: var(--small-font-size);
  color: var(--text-color-light);
}

.contact_information:hover .contact_hightlight{
  color: var(--first-color-alt);
  transition: 0.3s;
}

.contact_content{
  background-color: var(--input-color);
  border-radius: 0.5rem;
  padding: 0.75rem 1rem 0.25em ;
  border-color: var(--first-color);
  border-width: 2px;
  border-style: solid ;
}

.contact_content:hover{
  border-color: var(--input-color-alt); 
  transition: 0.3s;
}

.contact_label{
  font-size: var(--small-font-size);
  color: var(--title-color);
}
.contact_input{
  width: 100%;
  background-color: transparent;
  color: var(--text-color);
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  border: none;
  outline: none;
  padding: 0.25rem 0.5rem 0.5rem 0;
}

/*---------------- FOOTER ----------------*/
.footer{
  padding-top: 2rem;

}

.footer_container{
  row-gap: 1.5rem;
}

.footer_bg{
  background-color: var(--first-color-second);
  padding: 2rem 0 3rem;
}

.footer_title{
  font-size: var(--h1-font-size);
  margin-bottom: var(--mb-0-25);
}

.footer_subtitle{
  font-size: var(--small-font-size);
}

.footer_links{
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}

.footer_link:hover{
  color: var(--first-color-lighter);
}

.footer_social{
  font-size: 1.25rem;
  margin-right: var(--mb-1-5);
}

.footer_social:hover{
  color: var(--first-color-lighter);
}

.footer_copyright{
  font-size: var(--smaller-font-size);
  color: var(--first-color-lighter);
  text-align: center;
  margin-top: var(--mb-3);
}

.footer_title,
.footer_subtitle,
.footer_link,
.footer_social{
  color: #fff;
}

/*-------- SCROLL UP --------*/
.scrollup{
  position: fixed;
  right: 1.5rem;
  bottom: -20%;
  background-color: var(--first-color);
  opacity: 0.8;
  padding: 0 .3rem;
  border-radius: 0.3rem;
  transition: 0.6s;
  z-index: var(--z-tooltip);
}

.scrollup:hover{
  background-color: var(--first-color-alt);
}
.scrollup_icon{
  font-size: 1.6rem;
  color: #fff;
}
/* Show scroll */
.scroll-show{
  bottom: 5rem;
  transition: 0.4s;
}
/*-------- SCROLL BAR --------*/
::-webkit-scrollbar{
  width: 0.60rem;
  background-color: var(--scroll-bar-color);
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb{
  background-color: var(--scroll-thumb-color);
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb:hover{
  background-color: var(--text-color-light);
}


/*---------------- MEDIA QUERIES ----------------*/
/* For small devices */
@media screen and (max-width: 350px){
  .container{
    margin-right: var(--mb-1);
    margin-left: var(--mb-1);
  }

  .nav_menu, .themes_menu{
    padding: 1.5rem 1rem 4rem;
  }

  .nav_list, .themes_list{
    column-gap: 0.5rem;
    row-gap: 0.5rem;
    text-align: center;
  }

  .nav_link, .themes_item{
    padding: 0.2rem 0.1rem;
  }

  .menu_title{
    font-size: var(--h3-font-size);
    left: 1rem;
  }

  .home_content{
    padding-top: 1rem;
  }

  .home_content{
    grid-template-columns: 0.25fr 3fr;
  }

  .home_blob{
    width: 180px;
  }

  
  .home_subtitle{
    font-weight: 400;
  }

  .home_tagline{
   font-size: 0.9rem;
  }

  .home_description{
    margin-bottom: var(--mb-1);
  }

  .home_tagline-gray_box{
    width: 230px;;
  }

  .skills_title{
    font-size: var(--normal-font-size);
  }

  .services_container{
    grid-template-columns: max-content;
    justify-content: center;
  }

  .services_content{
    padding-right: 3.5rem;
  }

  .services_modal{
    padding: 0.5rem;
  }
  
}
/* For medium devices */

@media screen and (min-width: 568px){

  .home_content{
    grid-template-columns: max-content 1fr 1fr;
  }

  .home_data{
    grid-column: initial;
  }

  .home_img{
    order: 1;
    justify-self: center;
  }

  .about_container,
  .contact_container,
  .footer_container{
    grid-template-columns: repeat(2, 1fr);
  }
  
}

@media screen and (min-width: 768px) {
  .container{
    margin-left: auto;
    margin-right: auto;
  }

  body{
    margin: 0
  }


  .section{
    padding: 6rem 0 2rem;
  }

  .section_subtitle{
    margin-bottom: 4rem;
  }

  .header{
    top: 0;
    bottom: initial;
  }
  
  .header,
  .main,
  .footer_container{
    padding: 0 1rem;
  }

  .nav{
    /* height: calc(var(--header-height)+ 1.5rem); */
    column-gap: 1rem;
  }

  .nav_icon,
  .nav_close,
  .themes_menu,
  .menu_title,
  .nav_toggle{
    display: none;
  }

  .nav_list{
    display: flex;
    column-gap: 1rem;
  }

  .nav_link{
    padding: 0 1rem;
    background-color: transparent;
  }

   .active-link{
    color: var(--first-color);
  }
  
  .home_container{
    row-gap: 5rem;
  }

  .home_content{
    padding-top: 5.5rem;
    column-gap: 2rem;
  }

  .home_blob{
    width: 270px;
  }

  .home_scroll{
    display: block;
  }

  .home_scroll-button{
    margin-left: 3rem;
  }
  
  .about_container{
    column-gap: 5rem;
  }

  .about_img{
    width: 350px;
  }

  .about_description{
    text-align: justify;
  }

  .services_container{
    grid-template-columns: repeat(3, 200px);
    justify-content: center;
  }

  .services_icon{
    font-size: 2rem;
  }

  .services_content{
    padding: 6rem 0 2rem 2.5rem;
  }

  .services_model-content{
    width: 500px;
  }

  .footer_container{
    grid-template-columns: repeat(3, 1fr);
  }

  .footer_bg{
    padding: 3rem 0 4rem;
  }

  .footer_socials{
    justify-self: flex-end;
  }
  
}

/* For large devices */


